/* .start-div{
    width: 600px;
    height: 500px;
    border: 1px solid black;
    position: relative;
    left: 60%;
    top: -500px;
}


.carouselExampleSlidesOnly{
    position: relative;
    top: -100px;
    margin-top: 700px;
}

.home-body{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
} */

/* //////////////////////////////////////////////// */
.home-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
    top: 100px;
}

.carousel {
    width: 80%;
    margin: 20px auto;
}

.carousel-inner img {
    height: 400px;
    object-fit: cover;
    /* border: 1px solid black; */
    box-shadow: 1px 1px 6px black;
}

.start-div {
    width: 80%;
    margin-top: 20px;
}

.card {
    width: 100%;
}