nav a{
    font-size: 40px;
    border-radius: 40px;
    font-size: 20px !important;
    margin-left: 10px;
}
nav a.active{
    color: rgb(255, 255, 255) !important;
    background-color: rgb(136, 136, 136);
    box-shadow: 1px 1px 6px inset rgb(0, 0, 0);
    
}
.nav-div{
    /* width: 98%; */
    position: fixed;
    background-color: rgb(228, 228, 228);
    z-index: 1;
    border-radius: 20px;
    box-shadow: 1px 1px 6px rgb(131, 131, 131);
    text-align: center;
    margin: 0;
    left: 0;
}
