.pro-div{
    position: relative;
    top: 100px;
}

/* About.css */

.pro-div{

    max-width: 40%;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    top: 100px;
    box-shadow: 1px 1px 6px black;
    background-color: rgb(255, 255, 255);
    height: 500px;
    border-radius: 20px;
  }

